doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        title angular.js
    body
        div(ng-app="angular")
            md-content(layout-wrap layout="column" ui-view="")

        script(src="http://localhost:9001/webpack-dev-server.js")
        script(src="bundle.js")
